@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,200;1,500&family=Raleway:wght@100;300;400&display=swap');

/*font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;*/

:root {
    --font-family: 'Poppins', sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #e2a8dd79;
    --primary-color: #ccf1b6;
    --secondary-color: #B08BBB;
    --primary-shadow: #cc83e2;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--secondary-color);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.grid-container {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-image: url("https://i.ibb.co/ZLfSGsY/banner-verd.png");
    background-size: 29, 2%;
    background-position: center;
    background-repeat: no-repeat;
}

nav h1 {
    color: var(--secondary-shadow);
    font-weight: bolder;
}

nav a {
    color: var(--primary-color);
    transition: var(--transicion);
    margin: 5px;
}

nav div a{
    font-weight: bold;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--negrita);
}

.navbar-nav p {
    font-size: 20px;
    margin: 8px;
    align-items: center;
    display: flex;
    text-align: center;
    margin-bottom: 0;
    color: #111111dc;
}

.navbar-nav button {
    align-items: center;
    margin-bottom: 0;
}

#titulo-hero {
    font-size: 35px;
}

.boton-ventana {
    align-items: center;
    background-color: #cfa6db;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    height: 43px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 7px;
}

.boton-ventana:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 42px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.boton-ventana:hover:after {
    transform: translate(0, 0);
}


.boton-ventana:hover {
    outline: 0;
}


.boton-ventana:active {
    background-color: #ffdeda;
    outline: 0;
}

.menu-hamburguesa {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

#section {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
    letter-spacing: 2px;
  }

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 85rem;
    min-height: 380px;
    margin-top: 2rem;
}

.fondo-hero {
    width: 75%;
    padding-top: 15px;
    background-image: url("https://i.ibb.co/xmNKYv1/fondo-hero-2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
}


.imagen-hero {
    width: 350px;
    min-width: 200px;
    height: auto;
    border-radius: 12%;
    overflow: hidden;
    margin: 8px;
}

.imagen-hero img {
    width: 100%;
    min-width: 230px;
    height: auto;
    margin: 0;
}

#titulo{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}


.bio {
    margin: 1.8rem;
    min-width: 200px;
    padding: 0.8rem;
    border-radius: 2px;
    justify-content: center;
    word-wrap: break-word;
    background-color: #b5f5909d;
    box-shadow: #cc83e2d3 5px 4px 9px;
}

.bio h1 {
    font-weight: bolder;
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}


.p {
    border-right: .15em solid #051418;
    animation: blink 1s steps(1) infinite, blink 1s steps(1) infinite;
    width: 0;
    overflow: hidden;
    white-space: wrap;
    font-size: 3rem;
    color: #111;
    font-family: monospace;
    text-align: center;
    line-height: 1;
}

.bio-texto{
    font-size: 1.8rem;
}

.mas-sobre-mi {
    padding: 1.8rem;
    height: auto;
}

.mas-sobre-mi div {
    background-color: #dda8da63;
    padding: 3.5rem;
    border-radius: 15px;
}

.mas-sobre-mi h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    text-align: center;
    margin: 2.5rem;
    font-size: 20px;
}

.mas-sobre-mi p {
    line-height: var(--line-height);
    padding: 0.4rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    margin: 3.5px;
    flex-wrap: wrap;
    color: black;
    line-height: 1.8;
}

.habilidades {
    max-width: 70rem;
    margin: auto;
    padding: 3rem;
    text-align: center;
    margin-top: 4px;
    gap: 1;
}

.encabezado-habilidades {
    margin-bottom: 1rem;
}

.contenedor-habilidades img {
    padding: 1.30rem;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 1.8px;
}

.icono {
    width: 12rem;
    height: 12rem;
}

.icon.card {
    background-color: rgb(156, 94, 94);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

.accordion {
    width: 100%;
    max-width: 950px;
    margin: 8px auto;
}
  
.accordion-header {
    background-color: var(--primary-color);
    color: #444;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 3rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.548);
    transition: 0.4s;
    outline: none;
    margin: 6rem 6rem;
}

.active, .accordion-header:hover {
    background-color: #ddd;
    color: #051418;
  }
  
.accordion-header h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 6700;
}
  
.accordion-header i {
    font-size: 1.2rem;
    transition: all 0.3s ease;
}
  
.accordion-body {
    background-color: #f1dbbf48;
    color: #444;
    display: none;
    padding: 0 18px;
    border: 1px solid #ddd;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    align-items: center;
}

.accordion-body title {
    font-weight: bold;
    font-weight: 300px;
    margin-top: 20px;
}

.accordion-body p {
    margin: 23px 30px;
    font-size: 18px;
}

.accordion-body hr {
    border-top: 1px solid #302f2f;
    margin-top: 20px;
    margin-bottom: 20px;
}

  
.accordion-header:hover {
    background-color: #ddd;
}
  
.accordion-header:hover i {
    transform: rotate(180deg);
}
  
.accordion-body.active {
    display: block;
}

.link-cert{
    font-size: 16px;
    font-weight: bold;
    color: rgba(137, 43, 226, 0.74);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-shadow: #051418;
}

.proyectos {
    background-image: url("https://i.ibb.co/mc80NnT/codigo-vio-light.png");
    padding: 32px 0;
    margin-top: 8rem;
}

.card-image {
    width: 80%;
    height: 60%;
}

.proyectos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
    position: absolute;
    align-items: center;
    text-align: center;
}

.card p {
    padding: 0.3rem;
    font-size: 1.3rem;
}

.titulo {
    text-align: center;
    margin-bottom: 1rem;
    margin: 1rem;
}

.contenedor-de-proyectos {
    text-align: center;
    width: 6rem;
    padding: 1rem;
    flex-wrap: wrap;
}


.card .title {
    text-align: center;
    margin-bottom: 1rem;
}

.card-proyecto {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    margin: 10px;
}

.card h5 {
    font-size: 1.8rem;
}

.contacto {
    margin-top: 2rem;
}

.contacto h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b3adcd88;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
    border-radius: 8px;
}

.modal-content {
    background-color: var(--secondary-color);
    margin: 6rem auto;
    border: 1px solid #888;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
    max-width: 55rem;
    padding: 2rem;
    border-radius: 5px;
    position: relative;
    transform: var(--transform);
    transition: var(--transition);
}



.modal-show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.contenedor-formularios {
    background: #FFF;
    padding: 10px;
    max-width: 650px;
    border-radius: 5PX;
    box-shadow: 0 4px 10px 4px #13131a5a;
}

.contenedor-formulario label {
    line-height: 2em;
    font-weight: bold;
    color: #66c969;
    font-size: 18px;
    margin: 6px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.contenedor-formulario textarea {
    min-height: 6.25rem;
    font-size: 15px;
}

.contenedor-formulario .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--secondary-color);
    font-size: 1.6rem;
    outline: none;
}

.contenedor-formulario title{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 2rem;
}

#closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeBtn:hover,
#closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#close {
    position: absolute;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contenedor-formulario {
    margin-bottom: 1em;
}
  
.label-formulario {
    display: block;
    margin-bottom: 0.5em;
}
  
.input-field {
    border: none;
    border-radius: 3px;
    box-shadow: none;
    width: 100%;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    background-color: #f5f5f5;
}
  
.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 3px;
    font-size: 1.2em;
    cursor: pointer;
    align-items: center;
}
  
.submit-btn:hover {
    background-color: #3e8e41;
}

.swal2-icon {
    font-size: 30px;
    color: #3abb62;
    margin-bottom: 20px;
}
  
.swal2-title {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.swal2-content {
    font-size: 18px;
    margin-bottom: 20px;
}
  
.swal2-confirm {
    font-size: 12px;
    padding: 10px 20px;
    background-color: #3abb62;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.swal2-confirm:hover {
    background-color: #35a658;
}

footer {
    background-color: var(--primary-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}




@media (min-width: 768px) {
    .boton-ventana {
        padding: 0 40px;
    }
}